<a href="https://colab.research.google.com/github/KarthikGuntupally/ml/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python String Operations
a = "Hi, Everyone!"
print(a.upper())

a = "Hi, Everyone!"
print(a.lower())

a = " Hello, World! "
print(a.strip())

a = "Hi, Everyone!"
print(a.replace("H", "J"))

a = "Hi, Everyone!"
print(a.split(","))

a = "Hi"
b = "Everyone"
c = a + b
print(c)

age = 36
txt = "Iam Karthik_CB.EN.U4CSE20130 {}"
print(txt.format(age))

quantity = 5
itemno = 986
price = 86.97
myorder = "I want {2} pieces of item {0} for {1} dollars."
print(myorder.format(quantity, itemno, price))

HI, EVERYONE!
hi, everyone!
Hello, World!
Ji, Everyone!
['Hi', ' Everyone!']
HiEveryone
Iam Karthik_CB.EN.U4CSE20130 36
I want 86.97 pieces of item 5 for 986 dollars.

In [6]:
# Python List

thislist = ["CAKE", "APPLE", ""]
print(len(thislist))

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

thislist = ["apple", "banana", "melon", "mango"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

3
['melon', 'mango']
['apple', 'banana', 'melon', 'mango']
['melon', 'mango']
['apple', 'banana', 'melon']

In [11]:
# Python Dictionaries

thisdict = {
  "brand": "BMW",
  "model": "SUV",
  "year": 2003
}
print(thisdict)

thisdict = {
  "brand": "BMW",
  "model": "SUV",
  "year": 2003,
  "year": 2013
  
}
print(thisdict)

print(thisdict["model"])

print(thisdict.get("model"))

print(thisdict.keys())

print(thisdict.values())

print(thisdict.items())

{'brand': 'BMW', 'model': 'SUV', 'year': 2003}
{'brand': 'BMW', 'model': 'SUV', 'year': 2013}
SUV
SUV
dict_keys(['brand', 'model', 'year'])
dict_values(['BMW', 'SUV', 2013])
dict_items([('brand', 'BMW'), ('model', 'SUV'), ('year', 2013)])

In [9]:
def my_function():
  print("Hello from myself")

my_function()

Hello from myself

In [8]:
x = lambda a : a + 98
print(x(7))


x = lambda a, b : a * b
print(x(9, 3))

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(4)
mytripler = myfunc(2)

print(mydoubler(11))
print(mytripler(11))

105
27
44
22